<ion-list color="dark" #lista>
    <ion-item-sliding *ngFor="let lista of DeseosService.listas | filtro:terminados">
        <ion-item (click)="verLista(lista.id)" detail color="dark">
            <ion-label>
                {{lista.titulo}}
            </ion-label>
            <ion-note slot="end" color="tertiary">{{lista.items.length}}</ion-note>
        </ion-item>
        <ion-item-options side="end">
            <ion-item-option (click)="eliminarLista(lista)" color="danger">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-item-option>
        </ion-item-options>
        <ion-item-options side="start">
            <ion-item-option (click)="editarNombre(lista)" color="tertiary">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>

</ion-list>