<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">

            <ion-back-button color="tertiary" defaultHref="/">

            </ion-back-button>
        </ion-buttons>
        <ion-title>{{lista.titulo}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-list color="dark">
        <ion-item color="dark">
            <ion-label position="floating">Agregar tarea</ion-label>
            <ion-input type="text" [(ngModel)]="nombreItem"></ion-input>

        </ion-item>
        <ion-item color="dark">
            <ion-label position="floating">Hora de la tarea</ion-label>
            <ion-input type="time" [(ngModel)]="horaItem" (keyup.enter)="guardarItem()"></ion-input>

        </ion-item>
        <ion-item color="dark">
            <ion-label position="floating">Lista de tareas</ion-label>
        </ion-item>

    </ion-list>

    <ion-list>
        <ion-item-sliding *ngFor="let item of lista.items; let i = index" class="animated fadeInDown">

            <ion-item color="dark">
                <ion-checkbox slot="start" [(ngModel)]="item.compleatado" (ionChange)="itemCompletado(item)"></ion-checkbox>
                <ion-label>{{item.descripcion}}</ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option (click)="eliminarItem(i)" color="danger">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>

</ion-content>