<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Lista de tareas terminadas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
    <ion-header collapse="condense" color="dark">
        <ion-toolbar color="dark">
            <ion-title size="large">Terminados</ion-title>
        </ion-toolbar>
    </ion-header>
    <app-listas [terminados]="true"></app-listas>

</ion-content>